# Secrets & local stuff
#configs/raspberrypi/graphana/graphana.env
configs/raspberrypi/.env

# Heavy/temporary
*.tgz
*.tar.gz
*.zip

# Docker volumes
configs/raspberrypi/*/data/
configs/raspberrypi/portainer-data/


*/.npm/
*/.cache/
*/.config/


# Backups/Temp Files
*.save


