  # ---- #) Camera-Stream ----

  mediamtx:
    image: bluenviron/mediamtx:latest-ffmpeg
    devices:
      - /dev/video0:/dev/video0
    ports:
      - "8554:8554"      # RTSP
    volumes:
      - '/opt/homelab/mediamtx.yml:/mediamtx.yml:ro'
    restart: unless-stopped
